ms-consult-account-movement/src/main/resources/wsdl/Service_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Generated by the JavaTM Architecture for XML Binding(JAXB) Reference Implementation, (build IBM 2.2.10-06/29/2016 1:04:51 PMforeman-) 
See <a href="http://java.sun.com/xml/jaxb">http://java.sun.com/xml/jaxb</a>--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.service.brrd.com/" version="1.0" targetNamespace="http://services.service.brrd.com/">

  <xs:complexType name="consultaMovimientosRequest">
    <xs:complexContent>
      <xs:extension base="tns:requestHeader">
        <xs:sequence>
          <xs:element name="cantidad" type="xs:int" minOccurs="0"></xs:element>
          <xs:element name="direccion" type="xs:string" minOccurs="0"></xs:element>
          <xs:element name="fachaFinal" type="xs:dateTime" minOccurs="0"></xs:element>
          <xs:element name="fechaInicial" type="xs:dateTime" minOccurs="0"></xs:element>
          <xs:element name="montoFinal" type="xs:double" minOccurs="0"></xs:element>
          <xs:element name="montoInicial" type="xs:double" minOccurs="0"></xs:element>
          <xs:element name="producto" type="xs:string" minOccurs="0"></xs:element>
          <xs:element name="record" type="xs:int" minOccurs="0"></xs:element>
          <xs:element name="tipo" type="xs:string" minOccurs="0"></xs:element>
          <xs:element name="tipoProducto" type="tns:tipoProductoNum" minOccurs="0"></xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="requestHeader">
    <xs:sequence>
      <xs:element name="channel" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="date" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="operationName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="terminal" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="user" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="serviceResponse">
    <xs:complexContent>
      <xs:extension base="tns:responseHeader">
        <xs:sequence></xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="responseHeader">
    <xs:sequence>
      <xs:element name="channel" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="date" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="errorCode" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="errorMessage" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="errorType" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="operationName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="terminal" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="user" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="XMLReresponse" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="tipoProductoNum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CuentaCorriente"></xs:enumeration>
      <xs:enumeration value="CuentaAhorro"></xs:enumeration>
      <xs:enumeration value="Certificado"></xs:enumeration>
      <xs:enumeration value="Prestamo"></xs:enumeration>
      <xs:enumeration value="LineaCredito"></xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>